$borderColor: #ccc;
$sizePx: 20px;
.container {
    width: 1200px;
    margin: 0 auto;
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $sizePx;
    .card {
        border: 1px solid $borderColor;
        padding: 5px 10px 30px 10px;
        border-radius: $sizePx;
        &__image {
            border-radius: $sizePx;
            object-fit: cover;
            width: 100%;
        }
        &__read-more {
            color: #aaa;
            text-decoration: underline;
            font: {
                size: $sizePx;
                weight: 700;
            }
        }
    }
}
