@mixin grid($col: 1, $row-grap, $col-grap: $row-grap) {
    display: grid;
    grid-template-columns: repeat($col, 1fr);
    gap: $row-grap $col-grap;
}
.list {
    @include grid(4, 20px);
}
@mixin font-size($size: 16px) {
    font-size: $size;
    @content;
}
h1 {
    @include font-size(20px) {
        color: red;
    }
}
